.logo {
    /* margin-top: 50px; */
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
}

#photo {
    display: inline-block;
    width: 100%;
    height: 100vh;
}

.auth {
    width: 93%;
    margin: 5px;
    margin-right: 10px;
    /* display: inline-block; */
    line-height: 3;
}
label{
    color: black;
    font-weight: bold;
    font-size: 12px;
}
/* .container-fluid {
    padding-right: 0;
    padding-left: 0;
} */

.img-section {
    padding-right: 0 !important;
    padding-left: 0;
}

.form-section{
    background-color: rgb(199, 194, 194);
   /* background: url("../images/dooropacity.png") center center #ffffff; */
    /* opacity: .4;
    z-index: -1; */
    height: 100vh;
}

.from-label{
    color:black;
    font-weight: bold;
}

.btn-block.btn-lg{
    color: white;
    background: black;
    border: black;
}

.btn.btn-primary{
    color: white;
    background: black;
    border: black;
}
