.nav-area {
    text-align: right;
    background-color: rgb(199, 194, 194);
    height: 5rem;
    width: 100%;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
.nav-link {
    letter-spacing: 5px;
}
.location {
    padding: 8px 20px;
}
