/* @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap"); */

#donuttext {
  font-family: "Quicksand", sans-serif;
}

#donutbody {
  width: 20;
}

#calculator {
  padding-left: 3em;
  width: 80%;
  overflow: scroll;
}
