#side-margins {
   margin-left: 20px;
}


.side-bar {
    margin-bottom: 40px;
}

.whole-card {
    margin-bottom: 20px;
}

.post-card {
    box-shadow: 1px 1px 0px rgba(94, 93, 93, 0.5),
                1px 1px 0px rgba(94, 93, 93, 0.5),
                -1px 1px 0px rgba(94, 93, 93, 0.5);
}

.card {
    border-radius: 20px;
}

.post-image {
    border-radius: 20px 20px 0 0;
}

#post-content {
    margin-top: 10px;
}

.post-footer {
    border-radius: 20px;
    padding-bottom: 20px;
}  

.like, 
.fav {
    width: 2rem;
    height: 2rem;
    float: right;
    cursor: pointer;
}

.fav {
    margin-right: 10px;
}




