.search-form {
    width: 30%;
}

.search, 
.search-btn {
    border-radius: 20px;
    justify-content: end;
} 

.search-btn {
    background-color: rgb(100, 97, 97);
    border: none;
}

.search-btn:hover {
    background-color: rgb(145, 141, 141);
}

